h1{
    text-align: center;
}
body{
    background-color: cornflowerblue;
    text-align: center;
    font-family: cursive;
}
#form{
    background-color: blue;
    margin: 50px auto;
    padding: 30px 20px;
    max-width: 500px;
}
.form-control{
    text-align: left;
    margin-bottom: 15px;
}
.form-control label{
   display: inline-block;
   margin-bottom: 10px;
}

.form-control input, .form-control select, .form-control textarea{
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    display: block;
    width: 95%;
}
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
button {
    background-color: aliceblue;
    border: 1px solid #777;
    border-radius: 2px;
    font-size: 21px;
    display: block;
    width: 100%;
    
}